<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyberWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyberWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <CyberWatcher.Properties.Settings>
            <setting name="PingHost" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>00:00:04</value>
            </setting>
        </CyberWatcher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CyberWatcher.Properties.Settings>
            <setting name="Bits" serializeAs="String">
                <value>True</value>
            </setting>
        </CyberWatcher.Properties.Settings>
    </userSettings>
</configuration>